<main>
  <div>
    <h1>Welcome to Rails RideShare</h1>
  </div>

  <div class='homepage-container'>
  <%= image_tag("background/cars-night.jpg", class: "img-fluid mx-auto d-block")%>
  </div>
</main>

