// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new-passenger{
  padding-top: 6rem;
  padding-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  text-align: center;
  color: black;
}

.buttons{
  font-size: 1em;
  text-align: center;
}

.passenger-heading {
  height: 5em;
  overflow-x: auto;
  margin-top: 0px;
}

.passenger-details {
  text-align: center;
  padding-left: 2em;
}

.new-passenger-form{
  text-align: center;
 }

.show-passenger{
  text-align: center;
  padding-top: 2em;
}

.passenger-details{
  text-align: center;
  padding-left: 2em;
}

.passenger-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  padding-bottom: 1em;
}

.passenger-heading li {
  width: 40%;
}

